/* You can add global styles to this file, and also import other style files */
body {
  background: rgb(218, 2, 182);
  text-align: center;
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 97vh;
}
